{% extends 'base.html' %}

{% block title %}Agregar Producto{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Agregar Nuevo Producto</h2>
    <form method="post" action="{% url 'catalogo:agregar_producto' %}" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="mb-3">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>
        <div class="mb-3">
            {{ form.precio.label_tag }}
            {{ form.precio }}
            {{ form.precio.errors }}
        </div>
        <div class="mb-3">
            {{ form.stock.label_tag }}
            {{ form.stock }}
            {{ form.stock.errors }}
        </div>
        <div class="mb-3">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
        <div class="mb-3">
            {{ form.imagen.label_tag }}
            {{ form.imagen }}
            {{ form.imagen.errors }}
        </div>

        <div class="form-check form-switch mb-3">
            {{ form.destacado }}
            <label class="form-check-label" for="id_destacado">Destacado</label>
        </div>

        <div class="form-check form-switch mb-3">
            {{ form.oferta }}
            <label class="form-check-label" for="id_oferta">En oferta</label>
        </div>

        <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </form>
</div>

{% endblock %}
