{% extends 'base.html' %}

{% block title %}Eliminar Producto{% endblock %}

{% block content %}
<div class="container mt-5">
    
    <div class="card shadow-sm">
        <div class="card-body text-center">
            
            <h1 class="display-4 text-danger"><i class="fas fa-exclamation-triangle"></i></h1>
            <h2 class="card-title">¿Estás seguro de que deseas eliminar este producto?</h2>
            <p class="card-text">No podrás deshacer esta acción.</p>
            
            <p class="lead font-weight-bold">{{ producto.nombre }}</p>
            
            
            <form method="post" action="{% url 'catalogo:eliminar_producto' producto.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
                <a href="{% url 'catalogo:listar_productos' %}" class="btn btn-secondary btn-lg ms-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
